.form-layout-outer {
  margin-top: @navbar-height-large ;
  min-height: calc(100vh - @navbar-height-large);
  height: fit-content;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 24px 0;
}
.content-layout {
  position: relative;
  margin: auto;
  margin-top: @navbar-height-large;
  max-width: 1200px;
  padding: 24px;
  min-height: 100vh;
  width: 100%;
}
.home-content-layout {
  margin-top: 0;
}

.wide-layout-inner {
  min-height: 100vh;
  margin-top: @navbar-height-large;
  // padding-top: @navbar-height-large;
}

.wide-layout-content {
  margin: 24px 54px 24px 24px;
  padding: 24px;
  background: white;
  min-height: (100vh-@navbar-height-large - 24px);
}

// .wide-layout-content-wrapper{
//   margin-left: 200px;
// }
.wide-layout-sider {
  background: @secondary-color !important;
  overflow: auto;
  // height: 100%;
  // position: fixed;
  // top:calc(@navbar-height-large - @navbar-height);
  padding-top: 24px;
  left: 0;
}

.form-card {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

@media only screen and (max-width: 1439px) {
  .wide-layout-content {
    margin: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .form-layout-outer {
    padding-left: 5px;
    padding-right: 5px;
  }
  .wide-layout-sider {
    display: none;
  }
  // .wide-layout-content-wrapper{
  //   margin-left: 0;
  // }
  .wide-layout-content {
    margin: 10px;
  }
}
