@navbar-height-large:55px;


.navbar-header{
  position: fixed;
  z-index: 10;
  height: @navbar-height-large;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  padding: 0 !important;
  width:100%;
  background: white;
  overflow: hidden;
}

.navbar-logo-wrapper{
  height: @navbar-height-large;
}

.navbar-logo-img{
  padding:3px 0 ;
  height: 90%;
  margin-top: -9px;
}




.navbar-wrapper{
  &-narrow{
    padding: 0 24px;
    position: relative;
    margin: auto;
    max-width: 1200px;
  }
  &-wide{
    width:100%;
    padding: 0 24px;
  }
}


@media only screen and (max-width: 769px) {
  .ant-layout-header {
    height: @navbar-height-large !important;
    z-index: 100;
  }
  .navbar-logo-lg{
    height:@navbar-height-large !important;
    padding: 0 !important;
    margin-top:-0px !important;
  }
  .navbar-wrapper{
    padding: 0 5px;
  }
  .content-layout{
    margin:0;
    padding: 5px ;
    margin-top: @navbar-height-large; 

  }
  .navbar-drawer-logo{
    height:@navbar-height-large;
    color: @primary-color;
  }



}

.navbar-menu{
  line-height: 53px;
}

.navbar-logo-lg{
  // border: 2px solid @primary-color;
  background:transparent;
  // border-radius: 10px;
  // margin-top: -39px;
  height: @navbar-height-large;
  overflow: hidden;
  // padding-top:2px;
  width: fit-content
}