.pro-banner-container {
  background: white;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: grid;
  place-items: center;
  .pro-banner-wrapper {
    height: 340px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    .banner-title-wrapper {
      width: 40%;
      max-width: 480px;
      height: 245px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 24px;
      // margin: auto;
      z-index: 1;
      > * {
        will-change: transform;
      }
      h1 {
        font-family: "Futura", "Helvetica Neue For Number", -apple-system,
          BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC",
          "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
          Arial, sans-serif;
        font-size: 54px;
        margin: 12px 0;
      }
      p {
        font-size: 20px;
      }
      .button-wrapper {
        margin-top: 64px;
        line-height: 40px;
        align-items: center;
        display: flex;
        .github-btn {
          display: inline-block;
          height: 28px;
          .gh-btn {
            height: 28px;
            border-radius: 4px;
            background: rgba(243, 243, 243, 1);
            background: linear-gradient(
              to bottom,
              rgba(255, 255, 255, 1) 0%,
              rgba(243, 243, 243, 1) 100%
            );
            border: 1px solid #ebedf0;
            align-items: center;
            display: flex;
            padding: 0 12px;
            font-size: 13px;
            &:hover {
              color: @primary-color;
            }
            .gh-ico {
              margin-right: 8px;
            }
          }
          .gh-count {
            height: 28px;
            line-height: 22px;
            background: #fff;
            border: 1px solid #ebedf0;
            border-radius: 4px;
            padding: 2px 8px;
            font-size: 13px;
          }
        }
      }
      .title-line {
        transform: translateX(-64px);
        animation: bannerTitleLine 3s ease-in-out 0s infinite;
      }
    }
    .banner-image-wrapper {
      width: 45%;
      max-width: 598px;
      height: 324px;
      position: absolute;
      right: 24px;
      // margin: auto;
      top: 0;
      bottom: 0;
      opacity: 0;
    }
  }
}

.home-banner-image {
  display: none;
}

@media only screen and (max-width: 768px) {
  .pro-banner-wrapper {
    width: 80%;
    // height: calc(~"100vh - 64px");
    overflow: hidden;
    .banner-title-wrapper,
    .banner-image-wrapper {
      display: block;
      position: initial;
      width: 100%;
      height: auto;
    }
    .banner-title-wrapper {
      text-align: left;
      max-width: 480px;
      h1 {
        font-size: 40px !important;
        margin-top: 20px !important;
      }

      .button-wrapper {
        text-align: left;
        display: block;
        margin-top: 34px !important;
        // margin-top: 5vh;
        a {
          display: inline-block;
        }
        .github-btn {
          display: flex;
          margin: 20px auto;
          justify-content: left;
        }
      }
    }
  }
}

@media only screen and (max-width: @screen-xs) {
  .pro-banner-container {
    overflow: visible;
    .pro-banner-wrapper {
      min-height: 100vh;
      height: fit-content;
      margin-top: 80px;
      overflow: visible;
      .banner-title-wrapper {
        left: 0;
        padding: 0 24px;
        width: 100%;
        top: 300px;
      }
      .banner-image-wrapper {
        width: 100%;
        right: 0;
        padding: 0 24px;
      }
    }
  }
}

// // .title-line-wrapper {
// //   height: 2px;
// //   width: 100%;
// //   overflow: hidden;
// //   .title-line {
// //     height: 100%;
// //     width: 64px;
// //     transform: translateX(-64px);
// //     background: linear-gradient(
// //       to right,
// //       rgba(24, 144, 255, 0) 0%,
// //       rgba(24, 144, 255, 1) 100%
// //     );
// //   }
// // }

// @media only screen and (max-width: @screen-xl) {
//   .pro-banner-wrapper .banner-title-wrapper {
//     h1 {
//       font-size: 36px;
//     }
//     p {
//       font-size: 16px;
//     }
//   }
// }

// @media only screen and (max-width: @screen-lg) {

//   .pro-banner-wrapper {
//     background-position: 40%;
//   }

//   // .content-wrapper .text-wrapper {
//   //   float: none;
//   //   text-align: center;
//   //   left: 0;
//   //   width: 100%;
//   //   padding: 0;
//   //   > p {
//   //     max-width: 100% !important;
//   //     padding: 0 40px;
//   //   }
//   // }

//   // .content-wrapper.page {
//   //   min-height: 300px;
//   //   height: 300px;
//   // }

//   .banner-text-wrapper {
//     left: 50%;
//     transform: translateX(-50%);
//     text-align: center;
//     .start-button {
//       text-align: center;
//       > a {
//         margin: 0 4px;
//       }
//     }
//     .github-btn {
//       text-align: center;
//       float: none;
//       display: inline-block;
//     }
//     .line {
//       display: none;
//     }
//   }

//   // button.lang {
//   //   display: block;
//   //   margin: 29px auto 16px;
//   //   color: @site-text-color;
//   //   border-color: @site-text-color;
//   // }

//   // div.version {
//   //   display: block;
//   //   margin: 29px auto 16px;
//   //   & > .ant-select-selection {
//   //     color: @site-text-color;
//   //     &:not(:hover) {
//   //       border-color: @site-text-color;
//   //     }
//   //   }
//   // }

//   // .popover-menu {
//   //   width: 300px;
//   //   button.lang {
//   //     margin: 16px auto;
//   //     float: none;
//   //   }
//   //   div.version {
//   //     margin: 32px auto 16px;
//   //     float: none;
//   //   }
//   //   .ant-popover-inner {
//   //     overflow: hidden;
//   //     &-content {
//   //       padding: 0;
//   //     }
//   //   }
//   // }

//   // .toc {
//   //   display: none;
//   // }

//   // .nav-phone-icon {
//   //   display: block;
//   // }

//   // .nav-phone-icon:before {
//   //   content: "";
//   //   display: block;
//   //   border-radius: 2px;
//   //   width: 16px;
//   //   height: 2px;
//   //   background: #777;
//   //   box-shadow: 0 6px 0 0 #777, 0 12px 0 0 #777;
//   //   position: absolute;
//   // }

//   // .main {
//   //   height: calc(100% - 86px);
//   // }

//   // .aside-container {
//   //   float: none;
//   //   width: auto;
//   //   padding-bottom: 30px;
//   //   border-right: 0;
//   //   margin-bottom: 30px;
//   // }

//   // .main-container {
//   //   padding-left: 16px;
//   //   padding-right: 16px;
//   //   margin-right: 0;
//   //   > .markdown > * {
//   //     width: 100% !important;
//   //   }
//   // }

//   // .main-wrapper {
//   //   width: 100%;
//   //   border-radius: 0;
//   //   margin: 0;
//   // }

//   // #footer {
//   //   text-align: center;
//   //   .footer-wrap {
//   //     padding: 40px;
//   //   }
//   //   .footer-center {
//   //     text-align: center;
//   //   }
//   //   h2 {
//   //     margin-top: 16px;
//   //   }
//   //   .bottom-bar {
//   //     text-align: center;
//   //     .translate-button {
//   //       width: auto;
//   //       text-align: center;
//   //       margin-bottom: 16px;
//   //     }
//   //   }
//   // }
// }

// @media only screen and (max-width: @screen-md) {
//   // #logo {
//   //   padding: 0;
//   //   display: block;
//   //   margin-left: auto;
//   //   margin-right: auto;
//   //   float: none;
//   //   width: 200px;
//   // }

//   // .header-meta {
//   //   padding-right: 80px;
//   // }

//   .home-banner-image {
//     display: block;
//   }

//   .home-banner-anim {
//     display: none;
//   }

//   .pro-banner-wrapper {
//     width: 80%;
//     // height: calc(~"100vh - 64px");
//     overflow: hidden;
//     .banner-title-wrapper, .banner-image-wrapper {
//       display: block;
//       position: initial;
//       width: 100%;
//       height: auto;
//     }
//     .banner-title-wrapper {
//       text-align: center;
//       max-width: 480px;

//       .button-wrapper {
//         text-align: center;
//         display: block;
//         margin-top: 5vh;
//         a {
//           display: inline-block;
//         }
//         .github-btn {
//           display: flex;
//           margin: 20px auto;
//           justify-content: center;
//         }
//       }
//     }
//     .banner-image-wrapper {
//       margin: 10vh auto 5vh;
//     }
//   }
//   // .home-page {
//   //   width: 90%;
//   // }
//   // .home-code, .page-content {
//   //   width: 100%;
//   // }
//   // #footer {
//   //   .footer-wrap {
//   //     padding: 0;
//   //   }
//   // }
// }

// @media only screen and (max-width: @screen-xs) {
//   // .page1 {
//   //   height: 2400px;
//   // }
//   // .page2 {
//   //   height: 628px;
//   // }
//   // .page1-box-wrapper {
//   //   display: block;
//   //   li {
//   //     width: 80%;
//   //     display: block;
//   //     margin: 0 auto 100px;
//   //     .page1-box {
//   //       width: 100%;
//   //     }
//   //   }
//   // }
//   .pro-banner-wrapper .banner-title-wrapper {
//     h1 {
//       font-size: 28px;
//     }
//     p {
//       font-size: 16px;
//     }
//   }
// }
