.quiz-result-modal {
  width: fit-content !important;
  max-width: 80vw;
  min-width: 300px;
}

.quiz-form-arrow-keys-bottom-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background: rgba(white, 0.4);
}

.quiz-form-arrow-keys-bottom {
  max-width: 800px;
  margin: auto;
  background: transparent;
  padding: 15px 24px;
  //   border-radius: 10px;
}

// .quiz-user-wise-report-chart {
//   svg {
//     .recharts-xAxis {
//       .recharts-cartesian-axis-ticks {
//         .recharts-layer {
//           transform: rotate(90deg);
//         }
//       }
//     }
//   }
// }
