@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap.css");



#root {
  font-family: 'Poppins', sans-serif !important;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-link active {
  color: #000000;
}

.ant-pagination {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

@media print {
  .no-print {
    display: none;
  }
}



// Overriding antd css
.ant-menu-horizontal > .ant-menu-item > a::before{
  margin-bottom: 0px !important;
}



//---i18n-----//

.language-picker-nav{
  width:100px !important;
}


.ant-menu-vertical.ant-menu-sub, .ant-menu-vertical-left.ant-menu-sub, .ant-menu-vertical-right.ant-menu-sub{
  min-width: fit-content !important;
}


.line-limiter-1{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.line-limiter-2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}