.card-cover {
  width: 100%;
}

.avatar {
  margin-left: 24px;
  margin-top: -90px;
  border: 5px solid white;
  cursor: pointer;
}

.edit-export-buttons {
  position: absolute;
  top: 24px;
  right: 24px;
}

.icons-list {
  position: absolute;
  right: 24px;
  font-size: 40px;
  color: #41413c;
  cursor: pointer;
}

.portfolio-name {
  font-size: 27px;
}

.portfolio-add-button {
  position: absolute;
  top: 24px;
  right: 24px;
}

.portfolios {
  margin-left: -12px;
  margin-right: -12px;
}

.portfolio-col {
  margin-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.portfolio-card {
  position: relative;
  cursor: pointer;
  width: 100%;
}
